<%= form_for(@user_token) do |f| %>
  <% if @user_token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_token.errors.count, "error") %> prohibited this user_token from being saved:</h2>

      <ul>
      <% @user_token.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :request_token %><br />
    <%= f.text_field :request_token %>
  </div>
  <div class="field">
    <%= f.label :token %><br />
    <%= f.text_field :token %>
  </div>
  <div class="field">
    <%= f.label :secret %><br />
    <%= f.text_field :secret %>
  </div>

  Access Token:<%= @user_token.access_token %>
  <div class="actions">
    <%= f.submit %>
  </div>

    <%=  link_to 'Go to Fitbit to approve this link please', @auth_url %>
<% end %>
