<h1>Listing user_tokens</h1>

<table>
  <tr>
    <th>User</th>
    <th>Request token</th>
    <th>Token</th>
    <th>Secret</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_tokens.each do |user_token| %>
  <tr>
    <td><%= user_token.user_id %></td>
    <td><%= user_token.request_token %></td>
    <td><%= user_token.token %></td>
    <td><%= user_token.secret %></td>
    <td><%= link_to 'Show', user_token %></td>
    <td><%= link_to 'Edit', edit_user_token_path(user_token) %></td>
    <td><%= link_to 'Destroy', user_token, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User token', new_user_token_path %>
