<p id="notice"><%= notice %></p>

<p><% @user_info.each do |k,v| %>
  <p><%= k %><%=  v %></p>
<% end %>

<%= link_to 'All Activities', show_activities_user_token_path(@user_token) %>  |
<%= link_to 'All Activities for today', show_activities_on_date_user_token_path(@user_token) %> |
<%= link_to 'Statistics', show_activity_statistics_user_token_path(@user_token) %> |
<%= link_to 'Edit', edit_user_token_path(@user_token) %> |
<%= link_to 'Back', user_tokens_path %>
