<!DOCTYPE html>
<html>
<head>
  <title>FitBit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Home', root_path %>
<%= link_to "Keas Profile", {:controller => 'pages', :action => 'profile'} %>
<%= link_to "Fitbit Settings", {:controller => 'fitbit', :action => 'index'} %>
<%= render 'devise/menu/login_items' %>
<%= render 'devise/menu/registration_items' %>

<br>
	
<%= yield %>

</body>
</html>
